html{
    position: relative;
    height: 100%;
}
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    
}
.header{
    margin: 0;
    margin-bottom: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(2, 164, 239, 0.199);
    backdrop-filter: blur(50px);
}

@media (min-width: 768px) {
    .header{
        flex-direction: row;
    }
}

.footer{
    background-color: rgba(2, 164, 239, 0.199);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer-fijo{
    background-color: rgba(2, 164, 239, 0.199);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 768px) {
    .footer{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-fijo{
        flex-direction: row;
        justify-content: space-between;
    }
}
.img-link, .img-arriba{
    width: 30px;
}

